.new-scence {
    display: flex;
    width: 800px;
    height: 800px;
    flex-direction: column;
    canvas {
        width: 500px;
        height:500px;
    }
    .control-area {
        height: 300px;
    }
}