body {
    div {
        color: blue;
        display: flex;
        font-size: 30px;
    }
}

.div2 {
    color: red;
    display: grid;
}



.div2 {
    color: yellow;
}

.div2 {
    color: blue;
}

.div2 {
    color: blue;
}